Android/CarMonitor/CarMonitor.iml
Android/nnrCarMonitoring_Android.zip
Android/CarMonitor/import-summary.txt
Android/CarMonitor/gradlew.bat
Android/CarMonitor/gradlew
Android/CarMonitor/.gradle/
Android/CarMonitor/.idea/
Android/CarMonitor/app/app.iml
Android/CarMonitor/app/build/
Android/CarMonitor/build/
Android/CarMonitor/gradle/
Android/nnrMobileAppService_Runtime/nnrMobileAppServiceService/obj/
Arduino/CarMonitor/__vm/
Arduino/CarMonitor/Debug/
Arduino/CarMonitor/Release/
AzureBackend/.vs/nnrCarMonitoring/v15/
AzureBackend/nnrCarMonitoringService/Web.Release.config
AzureBackend/nnrCarMonitoringService/Web.Debug.config
AzureBackend/nnrCarMonitoringService/bin/
AzureBackend/nnrCarMonitoringService/obj/
AzureBackend/nnrCarMonitoringService/Properties/PublishProfiles/nnrCarMonitoring - Web Deploy.pubxml
AzureBackend/nnrCarMonitoringService/Properties/AssemblyInfo.cs
AzureBackend/packages/
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/README.txt
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/LICENSE.txt
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/SOURCES.txt
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/attribution_card.html
*.stl
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/images/
3D print/Phone_mount_for_Lotus_Elise_Exige/
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/files/BL-5C Battery box v12.3w
Android/CarMonitor/local.properties.old
3D print/WEMOS_D1_Mini_ENCLOSURE_with_BL-5C_NOKIA_battery___sensors_space/files/BL-5C Battery box v13.3w
Android/CarMonitor/app/app (1).iml
Android/CarMonitor/app/build - 2018-11-15T224640.566777Z.gradle
Android/CarMonitor/app/build (1).gradle
*.old
Android/nnrMobileAppService_Runtime/.vs/nnrMobileAppService/DesignTimeBuild/.dtbcache
Android/nnrMobileAppService_Runtime/
Android/RaceDash/.gitignore
Android/RaceDash/gradlew
Android/RaceDash/.idea/
Arduino/CarMonitor/.old.vcxproj
Arduino/CarMonitor/.vs/
docs/CarMonitor documentation.old.docx
Arduino/CarMonitor/wifipasswords.h
/Arduino/OTAtest/Debug
/Arduino/OTAtest/Release
/Arduino/OTAtest/__vm
